.navLink {
    padding: 10px 20px;
    border: 1px solid black;
}

.IconBtn {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid lightblue;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
}